.landing-page {

    .landing-page-background {
        width: 100%;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h3,
        h3::before {
            color: #ffffffdd;
            border-top-color: #ffffffdd;
        }

        p {
            color: #ffffffbb;
        }
    }

    .landing-page-background:nth-child(1) {
        height: calc(100vh - 56px);
    }

    .landing-page-background:nth-child(2) {
        clip-path: polygon(0px 0%, 100% 15%, 100% 100%, 0px 100%);
        height: 120vh;
        background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
    }

    .landing-page-background:nth-child(3) {
        clip-path: polygon(0px 10%, 100% 0%, 100% 100%, 0px 100%);
        height: 120vh;
        top: -12vh;
        background: linear-gradient(to right, #161719 0%, #161719 100%);
    }

    .landing-page-background:nth-child(4) {
        clip-path: polygon(0px 0%, 100% 15%, 100% 100%, 0px 100%);
        height: 120vh;
        top: -30vh;
        // background: linear-gradient(to right, #78AF9F 0%, #659CC8 100%);
        background: linear-gradient(to right, #161719 0%, #161719 100%);
    }

    .landing-page-background:nth-child(5) {
        clip-path: polygon(0px 10%, 100% 0%, 100% 100%, 0px 100%);
        // height: 100vh;
        height: auto;
        min-height: 100vh;
        top: -47vh;
        background: linear-gradient(to right, #a0d8f1 0%, #6574cd 100%);
    }

    .landing-page-background:nth-child(6) {
        clip-path: polygon(0px 0%, 100% 3%, 100% 100%, 0px 100%);
        top: -55vh;
        margin-bottom: -55vh;
        background: linear-gradient(to right, #a0d8f1 0%, #6574cd 100%);
    }

    @media only screen and (max-width:600px) {
        .landing-page-background:nth-child(2) {
            clip-path: polygon(0px 0%, 100% 5%, 100% 100%, 0px 100%);
        }

        .landing-page-background:nth-child(3) {
            clip-path: polygon(0px 5%, 100% 0%, 100% 100%, 0px 100%);
        }

        .landing-page-background:nth-child(4) {
            clip-path: polygon(0px 0%, 100% 5%, 100% 100%, 0px 100%);
        }

        .landing-page-background:nth-child(5) {
            clip-path: polygon(0px 5%, 100% 2%, 100% 100%, 0px 100%);
        }

        .landing-page-background:nth-child(6) {
            clip-path: polygon(0px 0%, 100% 2%, 100% 100%, 0px 100%);
        }
    }

    .landing-page-background::before {
        content: url('~@public/images/background.svg');
        position: absolute;
        left: 50%;
        z-index: -1;
    }

    .landing-page-background::after {
        content: url('~@public/images/background.svg');
        position: absolute;
        right: 50%;
        z-index: -1;
    }



    // landing-page-download-section

    $color=#f2d024; //ignore error
    // $color=#e9af32; //ignore error
    $darkColor=#161719; //ignore error

    .downloads-container {

        button.download-enabled,
        span.coming-soon {
            background-color: $color;
        }

        h1 {
            color: $darkColor !important;
            background-color: $color;
        }

        button.download-enabled,
        button.download-enabled span.platform-distro,
        .other-downloads span,
        .other-downloads-heading {
            color: var(--text-color--darker) !important;
        }

        a {
            color: $color;
        }

        svg {
            stroke: $color;
            fill: $color;
        }

        h3 {

            background-color: $color;

            a {
                color: $darkColor;
            }
        }
    }

    .hero-features-component {
        margin-top: 50px;

        h1 {
            background-color: $color;
            color: var(--text-color--darker);
        }

        .feature {
            background-color: $color;


            h3,
            p {
                color: var(--text-color--darker);
            }
        }
    }
}