.landing-page {

    .landing-page-background {
        width: 100%;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h3,
        h3::before {
            color: #ffffffdd;
            border-top-color: #ffffffdd;
        }

        p {
            color: #ffffffbb;
        }
    }

    .landing-page-background:nth-child(1) {
        height: calc(100vh - 56px);
    }

    .landing-page-background:nth-child(2) {
        clip-path: polygon(0px 0%, 100% 20vh, 100% 100%, 0px 100%);
        height: 130vh;
        background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
    }

    // $thisColor = #373f6b;
    $thisColor=#161719;

    .landing-page-background:nth-child(3) {
        clip-path: polygon(0px 15vh, 100% 0%, 100% 100%, 0px 100%);
        height: 135vh;
        top: -15vh;
        background: linear-gradient(to right, $thisColor 0%, $thisColor 100%);
    }

    .landing-page-background:nth-child(4) {
        clip-path: polygon(0px 0%, 100% 20vh, 100% 100%, 0px 100%);
        height: 135vh;
        top: -35vh;
        background: linear-gradient(to right, $thisColor 0%, $thisColor 100%);
    }

    $primaryColor=#a0d8f1;
    $primaryColorTrans=#6574cd99;
    $secondaryColor=#6574cd;

    $color1=#e9af32;
    $color2=#ffa31b;
    $darkColor=#161719;

    $gradient=linear-gradient(45deg, $color1 30%, $color2 100%);

    .landing-page-background:nth-child(5) {
        clip-path: polygon(0px 20vh, 100% 0%, 100% 100%, 0px 100%);
        // height: 100vh;
        height: auto;
        min-height: 110vh;
        top: -55vh;
        background: linear-gradient(to right, $primaryColor 0%, $secondaryColor 100%);
    }

    .landing-page-background:nth-child(6) {
        clip-path: polygon(0px 0%, 100% 0%, 100% 100%, 0px 100%);
        top: -62vh;
        margin-bottom: -62vh;
        background: linear-gradient(to right, $primaryColor 0%, $secondaryColor 100%);
    }

    .downloads-container svg {
        fill: $primaryColorTrans;
        stroke: $primaryColorTrans;
    }

    @media only screen and (max-width:600px) {
        .landing-page-background:nth-child(2) {
            clip-path: polygon(0px 0%, 100% 12vh, 100% 100%, 0px 100%);
        }

        .landing-page-background:nth-child(3) {
            clip-path: polygon(0px 12vh, 100% 0%, 100% 100%, 0px 100%);
        }

        .landing-page-background:nth-child(4) {
            clip-path: polygon(0px 0%, 100% 5%, 100% 100%, 0px 100%);
        }

        .landing-page-background:nth-child(5) {
            clip-path: polygon(0px 12vh, 100% 0%, 100% 100%, 0px 100%);
        }

        .landing-page-background:nth-child(6) {
            clip-path: polygon(0px 0%, 100% 0%, 100% 100%, 0px 100%);
        }
    }

    .landing-page-background::before {
        content: url('~@public/images/background.svg');
        position: absolute;
        left: 50%;
        z-index: -1;
    }

    .landing-page-background::after {
        content: url('~@public/images/background.svg');
        position: absolute;
        right: 50%;
        z-index: -1;
    }



    // landing-page-download-section
    .downloads-container {

        div.platform {
            margin-bottom: 0px !important;
        }

        button.download-enabled,
        span.coming-soon {
            background: $gradient;
        }

        h1 {
            color: $darkColor !important;
            background: $gradient;
        }

        button.download-enabled,
        button.download-enabled span.platform-distro,
        .other-downloads span,
        span.coming-soon,
        .other-downloads-heading {
            color: $darkColor !important;
        }

        a {
            color: $color1;
        }

        img.download-svg {
            display: none;
        }

        h3 {

            background: $gradient;

            a {
                color: $darkColor;
            }
        }
    }

    .hero-features-component {
        margin-top: 50px;

        h1 {
            background: $gradient;
            color: $darkColor;
        }

        .feature {
            background: $gradient;

            h1,
            h3,
            .svg,
            p {
                color: $darkColor;
            }
        }
    }
}