$accentColor = #007acc
// $accentColor = #fa8142
// $textColor = #2c3e50
$textColor = #000000
$borderColor = #eaecef
// $codeBgColor = #282c34
$codeBgColor = #000000

$textLightColor = #777777

body {
    --accent-color : $accentColor;
    --text-color : $textColor;
    --border-color : $borderColor;
    --codeBg-color : $codeBgColor;

    --text-light-color : $textLightColor;
    --text-medium-color : #2f2f2f;

    // background-color: #ffffff;
    // background-color: #f8f8f8;
}

// .navbar, .sidebar, .links, input, body {
//     // background-color: #f8f8f8 !important;
//     // background-color: #f2f3f5 !important;
//     // background-color: #f2f3f5;
//     background-color: #ffffff;
// }