$accentColor = #3880ff
$borderColor = #edf2f6;
$codeBgColor = #000000
$textLightColor = #777777

body {
    --accent-color : $accentColor;
    // --text-color : $textColor;
    --border-color : $borderColor;
    --codeBg-color : $codeBgColor;
    
    --text-medium-color : #2f2f2f;
    
    --background-color: #ffffff;
    background-color: var(--background-color);

    div.home {
        .feature {
            h2 {
                color: var(--text-color--dark);
            }
             p {
                color: var(--text-color);
                font-family: var(--heading-font-family);
            }
        }
    }
    
    header.navbar, div.sidebar {
        a.repo-link {
            display: none !important;
        }
    }

    .sidebar-link {
        font-weight: 500;
        color: var(--text-color--light);
    }
    
    p, li {
        font-size: 15px !important;
    }
    
    div.table-of-contents:before {
        content: 'CONTENTS';
        font-weight: 800;
        letter-spacing: 0.2em;
        font-size: 12px;
        color: var(--text-color--lighter);
    }
    
    div.table-of-contents {
        font-size 14px;
        > ul {
            padding-left: 0px;
        }
        li {
            list-style-type: none;
            line-height: 26px;
        }
    }
    
    div.table-of-contents, 
    div.table-of-contents:before,
    .nav-item a, 
    // .sidebar-links a,
    .site-name, 
    .edit-link,
    .last-updated ,
    .page-nav span.next,
    .page-nav span.prev    {
        font-family: var(--heading-font-family);
    }

    .edit-link a,
    .last-updated span    { 
        color: var(--accent-color) !important;
    }

    header.navbar span.site-name {
        color:var(--text-color--dark);
    }
    
    table {
        border-top: 0px;
    }

    h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
        a {
            transition: 0.3s opacity;
        }
    }

    a.nav-link:hover {
        transition: 0.2s border-bottom;
    }

    .search-box input {
        border-color: var(--line-rule-color);
    }

    header.navbar div.dropdown-wrapper {
        ul.nav-dropdown {
            display: block !important;
            max-height: 0px;
            // padding: 0px;
            border-width: 0px;
            overflow: hidden;
            box-shadow: 4px 4px 12px 4px rgba(0,0,0,0.025);
            opacity: 0;
            transition: 0.25s all;

            li a {
                font-size: 14px;
                font-weight: 100 !important;
            }
        }
    }

    header.navbar div.dropdown-wrapper:hover {
        ul.nav-dropdown {
            max-height: 200px;
            padding: 10px 0px;
            padding: 20px 0px;
            border-width: 1px;
            border-color: var(--line-rule-color);
            opacity: 1;
        }
    }

    // header.navbar line height scene
    header.navbar {
        padding: 0px 24px;
        .nav-item{
            height: calc(100% - 2px);
            margin-left: 0px;
            box-sizing: border-box;

            a {
                line-height: 56.6px;
                height: 100%;;
                display: block;
                padding: 0px 15px;
                border-bottom: solid 2px transparent;
            }
        }

        div.links{
            height: 100%;
            top: 0px;
        }


        .search-box input {
            margin-top: 11px;
        }

        .home-link {
            height: 100%;

            img, span {
                position: relative;
                top: 11px;
            }

            @media only screen and (max-width: 718px) {
                img {
                    left: 40px;
                }
            }
        }
        .nav-item a[href="/download/"]{
            padding: 0px 23px 0px 42px
            background-color: var(--ion-color-dark);
            color: var(--ion-color-dark-contrast);
            transition: 0.2s color;
            border-bottom: solid 2px var(--ion-color-dark);
            font-size: 16px;
        }


        .nav-item a[href="/download/"]:before {
            width: 16px;
            height: 16px;
            display: inline-block;
            content: '';
            position: absolute;
            left: 14px;
            top: 21px;
            mask-size: cover;
            -webkit-mask: url(/images/download.svg) no-repeat 50% 50%;
            mask: url(/images/download.svg) no-repeat 50% 50%;
            -webkit-mask-size: cover;
            mask-size: cover;
            background-color: #ffffff;
            transition: 0.2s all;
        }

        .nav-item a[href="/download/"]:hover:before, .nav-item a[href="/download/"].router-link-active:before{
            background-color: var(--accent-color);
        }

        .nav-item a[href="/download/"]:hover,.nav-item a[href="/download/"].router-link-active{
            color: var(--accent-color);
            border-bottom: solid 2px var(--accent-color);
        }

    }

    // div.admonition {
    //     border-radius: 0px !important;
    // }

}


$admonition
    box-shadow 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2)
    position relative
    margin 1.5625em 0
    padding 0 1.2rem
    border-left .4rem solid #448aff
    border-radius 0rem
    overflow auto

html .admonition>:last-child
    margin-bottom 1.2rem

.admonition .admonition
    margin 1em 0

.admonition p
    margin-top: 0.5em

$admonition-icon
    position absolute
    left 1.2rem
    font-family: "Material Icons"
    font-weight: normal;
    font-style: normal;
    font-size: 24px
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';

$admonition-title
    margin 0 -1.2rem
    padding .8rem 1.2rem .8rem 4rem
    border-bottom .1rem solid rgba(68,138,255,.1)
    background-color rgba(68,138,255,.1)
    font-weight 700

.admonition>.admonition-title:last-child
    margin-bottom 0
    
admonition_types = {
    note: {color: $accentColor, icon: "edit_sharp"},
    abstract: {color: #c5d845, icon: "speaker_notes_filled"},
    info: {color: #7044ff, icon: "info"}
    tip: {color: #00bfa5, icon: "code"},
    success: {color: #10dc60, icon: "check_circle_outline"},
    question: {color: #64dd17, icon: "help"},
    warning: {color: #ffce00, icon: "warning"},
    failure: {color: #ff5252, icon: "close"},
    danger: {color: #f04141, icon: "flash_on"},
    bug: {color: #e040fb, icon: "bug_report"},
    example: {color: #651fff, icon: "format_list_numbered_rtl"},
    quote: {color: #9e9e9e, icon: "format_quote"}
}

for name, val in admonition_types
    .admonition.{name}
        @extend $admonition
        border-left-color: val[color]
    
    .admonition.{name}>.admonition-title
        @extend $admonition-title
        border-bottom-color: .1rem solid rgba(val[color], 0.2)
        background-color: rgba(val[color], 0.2)

    .admonition.{name}>.admonition-title:before
        @extend $admonition-icon
        color: val[color]
        content: val[icon]