// showing default values
// $accentColor = #ff4c48
// $textColor = #2c3e50
// $borderColor = #eaecef
// $codeBgColor = #282c34

// .theme-container.frontend-class {
//     h1, h2 {
//         color: #00ff00;
//     }    
// }