.home4-component {
    // height: 100%;
    // overflow-y: auto;
    // width: 100%;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.hero-section-component {
    position: relative;
    height: 100vh;
    max-width: 860px;
    display: flex;
    align-items: center;
}