@import "~@public/assets/ionic-prism.css"
@import "~@public/assets/ionic.css"
@import "~@public/assets/custom.css"

@import './override.styl'
@import "./admonition.styl"
@import "./body-styles.styl"
@import "./sidebar.styl"

@import url(https://fonts.googleapis.com/icon?family=Material+Icons)

@font-face {
    src: url("~@public/assets/eina-700.woff2") format("woff2");
    font-family: "Eina";
    font-style: normal;
    font-weight: 700;
}
