@import "~@public/assets/ionic-prism.css"
@import "~@public/assets/ionic.css"
@import "~@public/assets/custom.css"

@import './override.styl'
@import "./admonition.styl"
@import "./body-styles.styl"
@import "./sidebar.styl"

@font-face {
    src: url("~@public/assets/eina-700.woff2") format("woff2");
    font-family: "Eina";
    font-style: normal;
    font-weight: 700;
}

@font-face {
  src: url("~@public/assets/material-icons.woff2") format('woff2');
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


